html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
	background:url(../img/xxl8.png) no-repeat;
	text-align: center;
}
@font-face{
font-family: "Audiowide-Regular";
src:url(../fonts/Audiowide-Regular.ttf);
}
@font-face{
font-family: "Asap-Regular";
src:url(../fonts/Asap-Regular.ttf);
}
.content{
	padding:200px;
}
.header{
	text-align: center;
	letter-spacing: 3px;
	padding-bottom: 50px;
	font-family:"Audiowide-Regular";
	font-size: 40px;
	color: white;
}
p a{
	font-family:"Asap-Regular";
}
.center{
	width:600px;
	margin:0 auto;
	padding:50px 40px;
	background:rgba(23, 218, 218, 0.18);
	color:#000000;
	
}
.center a{
	text-decoration: none;
}
.user{
	border:0px;
	border-bottom:solid 1px #fff;
	outline:none;
	border-radius: 0px;
	background: transparent;
	width:95%;
	height:42px;
	margin:15px 0;
	letter-spacing:1.6px;
    color:#fff;

}
.pwd{
	border:0px;
	border-bottom:solid 1px #fff;
	outline:none;
	border-radius: 0px;
	background: transparent;
	width:95%;
	height:42px;
	margin-bottom: 25px;
	letter-spacing:1.6px;
    color:#fff;

}
/*修改文字输入框默认样式*/
::-webkit-input-placeholder{
   color:#b4b0b0 !important;
}
.reg{
    display: inline;
    font-size: 18px;
    padding: 11px 20px;
    letter-spacing:1.2px;
    border: none;
    text-transform: capitalize;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #00BFFF;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    font-family: "Asap-Regular";
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
}

.reg:hover {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    background:rgba(91, 157, 214, 0.76);
}
.sub{
font-size: 18px;
padding: 10px 20px;
letter-spacing:1.2px;
border: none;
text-transform: capitalize;
outline: none;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
background: #D65B88;
color: #fff;
cursor: pointer;
margin: 0 auto;
font-family: "Asap-Regular";
-webkit-transition-duration: 0.9s;
transition-duration: 0.9s;
}
.sub:hover {
 -webkit-transition-duration: 0.9s;
 transition-duration: 0.9s;
 background:rgba(91, 157, 214, 0.76);
}
.footer{
text-align: center;
padding-top:75px;
letter-spacing:1.6px;
line-height:22px;
}

.footer p{
	color:white;
}
